.banner, .feature-sections {
    text-align: center;
}

.banner {
    background-color: white;
    margin-top: 60px;
    min-height: 610px;
    height: 100vh;
    padding: 45px 15px;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.banner-img {
    margin: 20px auto;
    width: 200px;
}

.feature-img {
    width: 250px;
    border: 1px solid rgb(136, 136, 136);
    border-radius: 3px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.feature-sections {
    min-height: 200px;
    padding: 30px 35px;
    background-color: #C9FCFF;
}

.second-section {
    background-color: #A1E7EB
}

.intro-header {
    font-family: 'Bellota', cursive, 'Arial', 'sans-serif';
    font-weight: 700;
    font-size: 1.6em;
}

.feature-sections > h3 {
    font-family: 'Bellota', cursive, 'Arial', 'sans-serif';
    font-weight: 700;
    font-size: 1.48em;
}

.feature-sections > p, .demo-button {
    text-decoration: none;
    color: black;
    font-family: 'Nunito', 'Arial', sans-serif;
    font-size: 1.03em;
}

.demo-button {
    background-color: #A1E7EB;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    font-weight: 400;
    border-radius: 5px;
    padding: 3px 5px;
    font-size: 1.25em;
}

.demo-button:hover, 
.demo-button:active,
.demo-button:focus  {
    background-color: #FDE457;
    border-radius: 5px;
}

/**Media Queries**/

@media screen and (min-width: 374px) {
    .banner {
        min-height: 810px;
    }

    .banner-img {
        margin: 20px auto;
        width: 300px;
    }

    .feature-img {
        width: 300px;
    }
}

@media screen and (min-width: 400px) {

    .intro-header {
        width: 350px;
        margin: 10px auto 20px;
    }

    .feature-sections > p, .demo-button {
        font-size: 1.1em;
    }
}

@media screen and (min-width: 765px) {

    .banner {
        min-height: 850px;
     }

    .intro-header {
        font-size: 1.9em;
        width: 530px;
        margin: 10px auto 20px;
    }

    .banner-img {
        margin: 30px auto;
        width: 340px;
    }
    
    .feature-sections > h3 {
        font-size: 1.8em;
    }

    .feature-sections > p, .demo-button {
        font-size: 1.3em;
    }

    .feature-sections > p {
        margin: 10px auto 20px;
        width: 500px;
    }

}

@media screen and (min-width: 1023px) {

    .banner {
       display: flex;
       min-height: 50vh;
       width: 924px;
       margin: 60px auto 0;
       padding: 45px 50px;
    }

    .banner > div {
        align-self: center;
        min-height: 400px;
        width: 500px;
    }

    .intro-header {
        font-size: 1.9em;
        width: 420px;
        margin: 10px auto 20px;
    }

    .banner-img {
        margin: 30px auto;
        transform: rotate(25deg);
        width: 25%;
        max-width: 670px;
        position: absolute;
        right: 20%;
    }

    .feature-sections {
        position: relative;
        z-index: 1;
    }

}


@media screen and (min-height: 1025px) {

    .banner {
       display: flex;
       max-height: 800px;
       width: 1020px;
       margin: 60px auto 0;
       padding: 45px 50px;
    }

    .banner > div {
        align-self: center;
        min-height: 400px;
        width: 500px;
    }

    .banner-img {
        margin: 30px auto;
        transform: rotate(25deg);
        width: 30%;
        max-width: 670px;
        position: absolute;
        right: 20%;
    }

    .feature-sections {
        position: relative;
        z-index: 1;
    }
}