.banner, .feature-sections {
    text-align: center;
}

.banner {
    background-color: white;
    margin-top: 60px;
    min-height: 610px;
    height: 100vh;
    padding: 45px 15px;
}

.banner-img {
    margin: 20px auto;
    width: 200px;
}

.feature-img {
    width: 250px;
    border: 1px solid rgb(136, 136, 136);
    border-radius: 3px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.feature-sections {
    min-height: 200px;
    padding: 30px 35px;
    background-color: #C9FCFF;
}

.second-section {
    background-color: #A1E7EB
}

.intro-header {
    font-family: 'Bellota', cursive, 'Arial', 'sans-serif';
    font-weight: 700;
    font-size: 1.6em;
}

.feature-sections > h3 {
    font-family: 'Bellota', cursive, 'Arial', 'sans-serif';
    font-weight: 700;
    font-size: 1.48em;
}

.feature-sections > p, .demo-button {
    text-decoration: none;
    color: black;
    font-family: 'Nunito', 'Arial', sans-serif;
    font-size: 1.03em;
}

.demo-button {
    background-color: #A1E7EB;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    font-weight: 400;
    border-radius: 5px;
    padding: 3px 5px;
    font-size: 1.25em;
}

.demo-button:hover, 
.demo-button:active,
.demo-button:focus  {
    background-color: #FDE457;
    border-radius: 5px;
}