.journal-page {
    font-family: 'Nunito', 'Arial', sans-serif;
    min-height: 960px;
    margin-bottom: 60px;
}

.journal-header {
    background-color: #A2E7EB;
    min-height: 290px;
    padding: 45px 15px 20px;
    text-align: center;
    font-weight: 600;
}

.journal-header > h1 {
    font-size: 1.75em;
    margin-bottom: 10px;
}
  
.journal-info {
    margin-top: 10px;
    padding-bottom: 10px; 
    min-height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.journal-info > h2 {
    font-size: 1.25em;
}

.journal-info > p {
    margin-bottom: 1px;
    line-height: 1.5em;
}
  
.journal-content, .comments-section {
    padding: 5px 10px;
}

.journal-content {
    border-bottom: 1px solid #A2E7EB;
    border-bottom-width: 5px;
    white-space: pre-line;
}

.comment {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    padding: 5px 7px;
    margin-bottom: 10px;
}
  
.comment-text {
    width: 73%;
}
  
.user {
    font-weight: 600;
    text-align: right;
    width: fit-content;
    height: 23px;
    float: right;
}
  
#add-comment {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    max-width: 400px;
    margin: 2px 10px;
}
  
.comment-textarea {
    font-family: 'Nunito', 'Arial', sans-serif;
    border-radius: 5px;
    font-size: 0.95em;
    padding: 3px 5px;
    text-align: left;
}
  
.add-comment-button {
    margin: 15px auto;
    width: 50%;
    font-family: 'Nunito', 'Arial', sans-serif;
    font-size: 1.1em;
    background-color: #A1E7EB;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    padding: 5px 8px;
    margin-top: 10px;
}

.add-comment-button:hover, 
.add-comment-button:active,
.add-comment-button:focus   {
    background-color: #EBDD8A;
    border-radius: 5px;
}