.signup-header {
    height: 125px;
    padding-bottom: 20px;
}

.signup-error {
    height: 20px;
}

.signup {
    font-family: 'Nunito', 'Arial', sans-serif;
    font-weight: 600;
    text-align: center;
    min-height: 600px;
    height: 100vh;
    margin-top: 40px;
}

.signup-field {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 300px;
    margin: 10px auto;
    line-height: 1.5em;
}

.signup-field > label {
    font-size: 1.07em;
    text-align: left;
}

.signup-field > input {
    font-size: 1em;
    padding: 3px 5px;
    border: 1px solid #90CED1;
    border-radius: 3px;
}

.signup-form {
    margin: 0 auto;
    min-width: 256px;
    width: 80%;
}

.signup-error {
    height: 60px;
}

.red-error {
    color: red;
}

.signup-button {
    font-family: 'Nunito', 'Arial', sans-serif;
    background-color: #A1E7EB;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    padding: 5px 8px;
    font-size: 1.2em;
    margin-top: 10px;
}

.signup-button:hover, 
.signup-button:active,
.signup-button:focus  {
    background-color: #FDE457;
    border-radius: 5px;
}