.nav-top {
    background-color: #A1E7EB;
    box-shadow: 0px 1px 10px #999;
    text-align: center;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    padding-left: 10px;
    padding-right: 10px;
}

.nav-top > a {
    font-size: 1.2em;
    text-decoration: none;
}

.app-name {
    font-family: 'Bellota', cursive, 'Arial', 'sans-serif';
    font-weight: 700;
    color: black;
    font-size: 1.2em;
}

.nav-top-links {
    min-width: 110px;
    max-width: 140px;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    text-decoration: none;
    color: black;
}

.nav-top-links > a {
    text-decoration: none;
    color: black;
    font-family: 'Nunito', sans-serif;
    padding: 2px;
}

.nav-show-logout-link {
    justify-content: flex-end;
}

.nav-top > a:hover, 
.nav-top > a:active,
.nav-top > a:focus,
.nav-top-links > a:hover, 
.nav-top-links > a:active,
.nav-top-links > a:focus,
.nav-show-logout-link > a:hover, 
.nav-show-logout-link > a:active,
.nav-show-logout-link > a:focus   {
    background-color: #EBDD8A;
    border-radius: 5px;
}
