.journal-post {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-family: 'Nunito', 'Arial', sans-serif;
    min-width: 300px;
    width: 80%;
    margin-bottom: 10px;
}

.journal-link,
.comments-edit > a {
    text-decoration: none;
    color: black;
}

.journal-details {
    background-color: #90CED1;
    border-radius: 15px 15px 0 0;
    padding: 15px;
}

.journal-post:nth-of-type(even) > .journal-details {
    background-color: #C9FCFF;
}

.journal-post:nth-of-type(odd) > .journal-details {
    background-color: #FDE457;
}

.journal-link > h2 {
    color: black;
    width: 100%;
    margin: 0;
}

.journal-link > p {
    font-size: 1.08em;
}

.comments-edit {
    height: 45px;
    padding: 15px;
}

.comments-edit > a {
    border: 1px solid rgb(207, 207, 207);
    border-radius: 5px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    padding: 3px 5px;
}

.comments-edit > a:hover, 
.comments-edit > a:active,
.comments-edit > a:focus  {
    background-color: #FDE457;
}