header {
    height: 150px;
    padding: 45px 15px;
    text-align: center;
    margin-top: 20px;
}

.users-header {
    font-family: 'Nunito', 'Arial', sans-serif;
    font-weight: 600;
    font-size: 1.75em;
}

.user-journal-number {
    font-family: 'Nunito', 'Arial', sans-serif;
    font-weight: 600;
    font-size: 1.1em;
}
  
.comments-edit {
    width: 100%;
    text-align: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.journals {
    background-color: white;
    padding-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 60px;
}

@media screen and (min-width: 765px) {
    .journals {
        margin: 10px 60px;
        -webkit-flex-flow: wrap row;
        flex-flow: wrap row;
        align-items: flex-start;
        justify-content: flex-start;
        width: 700px;
        height: 100%;
    }
}

@media screen and (min-width: 1023px) {

    .user-journal-number {
        font-size: 1.2em;
    }

    .journals {
        width: 900px;
        margin-left: 90px;
        padding: 10px;
    }
}

@media screen and (min-width: 1280px) {
    
    .journals {
        width: 1150px;
        margin-left: 60px;
        padding: 10px;
    }
}

@media screen and (min-width: 1399px) {
    
    .journals {
        width: 1280px;
    }
}

@media screen and (min-width: 1439px) {
    
    .journals {
        width: 1280px;
        margin-left: 80px;
    }
}

@media screen and (min-width: 1460px) {
    
    .journals {
        margin-left: 130px;
    }
}